### Pandas_Challenge

In [266]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load 
data_file = os.path.join("Resources", "02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv")

# Read File and store into Pandas data frame
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [267]:
unique_players_count = len(data_file_df["SN"].unique())
df_players = pd.DataFrame({
    "Total Number of Players": [unique_players_count]
    })
df_players.head()

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [268]:
unique_items = len(data_file_df["Item ID"].unique())
average_price = round(data_file_df["Price"].mean(),2) #may need unique price
number_purchases = len(data_file_df["Purchase ID"])
total_revenue = round(data_file_df["Price"].sum(),2)

summary_data_df = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price": [average_price], #need $
    "Number of Purchase": [number_purchases],
    "Total Revenue": [total_revenue] #need $
    })

summary_data_df.head()

   Number of Unique Items  Average Price  Number of Purchase  Total Revenue
0                     179           3.05                 780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [269]:
#Gets unique players
unique_players_df = data_file_df[['SN', 'Age', 'Gender']]
unique_players_df = unique_players_df.drop_duplicates()

#Deterimines number of players by gender
unique_players_df['Gender'].value_counts()/unique_players_count
gender_df = pd.DataFrame({
    "Total Count": unique_players_df['Gender'].value_counts()
    #"Percentage of Players": gender_df['Total Count'].value #/len(unique_players_df['SN']) This doesn't work.
})

gender_df

                       Total Count
Male                           484
Female                          81
Other / Non-Disclosed           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [270]:
grouped_gender_df = data_file_df.groupby(['Gender'])
grouped_person_df = data_file_df.groupby(['Gender', 'SN'])

gender_purchase_df = pd.DataFrame({
    "Purchase Count": grouped_gender_df.count().head()['Item ID'],
    "Average Purchase Price": round(grouped_gender_df.mean().head()['Price'], 2),
    "Total Purchase Value": round(grouped_gender_df.sum().head()['Price'], 2),
    "Avg Total Purchase per Person": grouped_person_df.mean()['Price'].astype(float) #This doesn't work.
})
gender_purchase_df

TypeError: Expected tuple, got str

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [271]:
#Establish bins for different age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 300]
group_by = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize players in age bins
unique_players_df["Age Summary"] = pd.cut(unique_players_df["Age"], bins, labels=group_by, include_lowest=True)
#age_counts = unique_players_df["Age Summary"].value_counts()

#Summary frame to hold results
age_df = pd.DataFrame({
    "Total Count": unique_players_df['Age Summary'].value_counts()
    #"Percentage of Players": [A] NEED TO FIGURE OUT THIS AND SORTING BINS
})

age_df

       Total Count
20-24          258
15-19          107
25-29           77
30-34           52
35-39           31
10-14           22
>10             17
40+             12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [272]:
#Establish bins for different age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 300]
group_by = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize players in age bins
data_file_df["Age Summary"] = pd.cut(data_file_df["Age"], bins, labels=group_by, include_lowest=True)
#age_counts = unique_players_df["Age Summary"].value_counts()

grouped_age_df = data_file_df.groupby(['Age Summary'])

grouped_age_df
purchase_analysis_df = pd.DataFrame({
    "Purchase Count": grouped_age_df.count().head()['Item ID'],
    "Average Purchase Price": round(grouped_age_df.mean().head()['Price'], 2),
    "Total Purchase Value": round(grouped_age_df.sum().head()['Price'], 2),
    "Avg Total Purchase per Person": round(grouped_age_df.mean()['Price'],2) #This doesn't work.
})
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
>10,23.0,3.35,77.13,3.35
10-14,28.0,2.96,82.78,2.96
15-19,136.0,3.04,412.89,3.04
20-24,365.0,3.05,1114.06,3.05
25-29,101.0,2.90,293.00,2.90
30-34,NaN,NaN,NaN,2.93
35-39,NaN,NaN,NaN,3.60
40+,NaN,NaN,NaN,2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [273]:
popular_df = data_file_df[['Item ID', 'Item Name', 'Price']]
popular_df = popular_df.groupby(['Item ID', 'Item Name'])
popular_df.count().head()
popular_analysis_df = pd.DataFrame({
    "Purchase Count": popular_df.count().head()['Price'],
    "Average Item Price": round(popular_df.mean().head()['Price'], 2),
    "Total Purchase Value": round(popular_df.sum().head()['Price'], 2)
})
popular_analysis_df.sort_values("Purchase Count", ascending=False)

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
0,Splinter,4,1.28,5.12
1,Crucifer,4,2.94,11.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [274]:
popular_analysis_df.sort_values("Total Purchase Value", ascending=False)

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
3,Phantomlight,6,2.49,14.94
2,Verdict,6,2.48,14.88
1,Crucifer,4,2.94,11.77
4,Bloodlord's Fetish,5,1.70,8.50
0,Splinter,4,1.28,5.12